# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
**/*.mkv
**/*.mp4
**/*.avi
**/*.mov
**/*.flv
**/*.wmv

# JavaScript / Node
node_modules/
dist/
dist-ssr
*.local

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
