# PostgreSQL connection variables
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"

# Application
PORT=5000
JWT_SECRET="6f9c2e8b4a1d7c5e9f3b8a2d6c1e7f4b9d3a6c8e1f5b7a2d9c4e6f1b3a8d5c7"

# Razorpay Placeholders
RAZORPAY_KEY_ID="rzp_test_xxxxxxxxx"
RAZORPAY_KEY_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
